<html>
<head>
    <meta charset="utf-8">
    <title>Welcome to My Music Store</title>
    <style type="text/css">
        body {
            width: 1000px;
            margin: auto;
        }
        .btn_form{
            display: inline;
        }
        span{
            margin: 2px;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song:</h2>
    <th:block th:if="${songs.size()>0}">
        <form th:action="@{'/artist'}" method="POST">
            <th:block th:each="song : ${songs}" class="inputs">
                <input type="radio" name="trackId" th:value="${song.getTrackId()}">
                <span> Title: </span>
                <span th:text="${song.getTitle()}"></span>
                <span> Add Grade </span>
                <input type="text" name="grade">
                <span> Genre: </span>
                <span th:text="${song.getGenre()}"></span>
                <span> Release Year: </span>
                <span th:text="${song.getReleaseYear()}"></span>
                <span> Album: </span>
                <span th:text="${song.getAlbum().getName()}"></span>
                <br/>
            </th:block>
            <input type='submit' value='Submit'>
        </form>
    </th:block>
    <div th:if="${songs.size() == 0}">
        <p>No songs available to choose from.</p>
    </div>

    <h2>Choose a song:</h2>
    <th:block th:if="${songs.size()>0}">
        <th:block th:each="song : ${songs}" class="inputs">
            <span> Title: </span>
            <span th:text="${song.getTitle()}"></span>
            <span> Genre: </span>
            <span th:text="${song.getGenre()}"></span>
            <span> Release Year: </span>
            <span th:text="${song.getReleaseYear()}"></span>
            <span> Album: </span>
            <span th:text="${song.getAlbum().getName()}"></span>

            <form th:action="@{'/songs/edit/{id}' (id=${song.getId()})}" th:method="GET" class="btn_form">
                <button type="submit">Edit Song</button>
            </form>
            <form th:action="@{'/songs/delete/{id}' (id=${song.getId()})}" th:method="DELETE" class="btn_form">
                <button type="submit">Delete Song</button>
            </form>
            <br>
        </th:block>
    </th:block>
    <br>
    <div th:if="${songs.size() == 0}">
        <p>No songs available to choose from.</p>
    </div>
    <form th:action="@{'songs/add'}" th:method="GET">
        <button type="submit">Add New Song</button>
    </form>

</main>
</body>
</html>